# Dependencies
node_modules

# Build outputs
dist
build

# Environment files
.env
.env.*

# Logs
logs
*.log

# Coverage
coverage

# OS / Editor files
.DS_Store
.vscode
.idea

# Lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml
